/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #grid{
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        width:100%;
    }
    .square{
        border: solid 1px black;
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
    }
    #badge > h1{
        font-size: 3.5em;
    }
    #badge > p{
        font-size: 2.0em;
    }
}

@media only screen and (min-width: 1920px) {
    h2{
        font-size: 2.5em;
    }
    h3{
        font-size: 2.0em;
    }
    #exposition > p, #quirks > p{
        font-size: 1.6em;
    }
    .left{
        flex-basis: 25%;
    }
    .right{
        flex-basis: 75%;
    }
    #grid{
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        width:80%;
    }
}