@media only screen and (min-width: 768px) {


    #wrapper{
        display: flex;
        flex-direction: row;
    }
    .left{
        flex-basis: 45%;
    }
    .right{
        height: 100vh;
        flex-basis: 55%;
    }
    #about-fade, #projects, #contact{
        border-left: 4px groove gray;
    }

    #about{
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }


    #projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #grid{
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    .square{
        border: solid 1px black;
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
    }

}