@media only screen and (min-width: 992px) {
    .margin{
        width: 70%;
        margin-left: 15%;
    }

    #about{
        display: flex;
        flex-direction: row;
    }
    #left{
        flex-basis: 35%;
    }
    #right{
        overflow: scroll;
        height: 100vh;
        flex-basis: 65%;
    }



}