/* Extra small devices (phones, 600px and down) */
body{
    margin:0;
    font-family: 'Oxygen', sans-serif;
}    
h1{
    font-size: 2.5em;
}
#projects, #contact, #about, header{
    display:none;
}
/* nav css */
header{
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
}
nav a{
    display: inline-block;
    color: #f2f2f2;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background: #ddd;
    color: black;
}
/* nav css end */

/* main css */
main{
    /* background-color: #c4d9fc;
	background-image: linear-gradient(#e8effc, #c4d9fc); */
}
/* main css end */


/* about css */
#intro{
    display:flex;
    width:100vw;
    height: 100vh;
    margin: auto;
}
#badge{
    margin:auto;
    width: 100%;

    /* border: 2px solid black;
    text-align: center; */
}
/* #next{
    position: absolute;
    bottom:0;
    text-align: right;
    width: 90%;
    margin-left: 5%;  
} */


h1 > span{
    display: block;
}


/* about css end */


/* projects css */
#grid-container{
    display: inline-block;
    border: 1px solid black;
    width: 95%;
    margin-left: 2.5%;
    justify-content: center;
}

#grid{
 display:grid;
 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 grid-gap: 1rem;
 margin: 0;
 padding:0;
}

.square::before{
    content:"";
    padding-bottom: 100%;
    display: block;
}

.square{
    display: grid;
    background: blue;
    padding: 1rem;
}

.square::before,
.sub-square{
    grid-area: 1 / 1 / 2 / 2;
}

.sub-square{
    background-size: contain;
}

.text{
    text-align: center;
    display: flex;
    width: 50%;
    height: 100%;
    margin: auto;
    align-items:center;
    justify-content:center;
}
/* end projects css */

/* contact css */
fieldset > input, fieldset > label, fieldset > textarea{
    display: block;
    align-content: center;
    width: 100%;
}
/* contact css end */



/* #skills-grid{
    display: inline-grid;
    grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1em; 
}

.skills-item > p {
    text-align: center;
}

.skills-item{
    background-color:blue;
} */

/* #sub, #skills-grid{
    width: 70%;
    margin-left: 15%;
} */

/* h3, i{
    display: block;
} */