/* Extra small devices (phones, 600px and down) */
body{
    margin:0;
    font-family: 'Oxygen', sans-serif;
}    
h1{font-size: 2.5em;}
h2{font-size: 2.0em;}
h3{font-size: 1.8em;}
h4{font-size: 1.6em;}
h5{font-size: 1.4em;}
p, li{font-size: 1.2em}

/* nav css */
header{
    background-color: #333;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    z-index: 10;
    top:0;
}
nav a{
    display: inline-block;
    color: #f2f2f2;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background: #ddd;
    color: black;
}
/* nav css end */

/* site-wide */
.margin{
    width: 90%;
    margin-left: 5%;
}
.left{
    display:flex;
    height: 100vh;
    margin: auto;
}

.top-pad{
    padding-top: 2em;
}
/* about css */

#badge{
    margin:auto;
    width: 100%;
}
h1 > span{
    display: block;
}
#exposition{
    text-align: justify;
}
#exposition > h2{
    text-align: center;
}
h2 > span{
    display: inline-block;
}
#exposition > p{
    text-align: center;
}
#g-vs-e{
    width: 100%;
}
#g-vs-e > div{
    text-align: center;
    border: 1px solid black;
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
}
#f-and-b > div{
    border: 1px solid black;
}
.icons{
    display: flex;
    justify-content: space-around;
}
#g-vs-e > div, #f-and-b > div{
    margin-top: 1em;
    margin-bottom: 1em;
}
#one-for-all > p, #all-for-one > p{
    padding-left:1em;
    padding-right: 1em;
}

.rule-of-three{
    text-align: center;
    padding: 1em;
}
.rule-of-three > i{
    margin: 0.3em;
}

.no-list{
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* about css end */



/* projects css */
#projects{
    text-align: center;
}

#grid{
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}
.square{
    border: solid 1px black;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}

.content{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hover-on{
    display: none; 
}
.hover-off{
    background-size: contain;
    background-repeat: no-repeat;
}
.square:hover .hover-off{
    display: none;
}

.square:hover .hover-on{
    display: flex;
}
/* end projects css */



/* contact css */
#contact{
    height: 100vh;
}

fieldset > input, fieldset > label, fieldset > textarea{
    display: block;
    align-content: center;
    width: 100%;
}


/* contact css end */

