/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* #badge > h1{
        font-size: 3.3em;
    }
    #badge > p{
        font-size: 2.0em;
    } */
    #grid{
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        width: 100%;
        margin-left: 0%;
    }
    .square{
        border: solid 1px black;
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
    }

    #g-vs-e, #f-and-b{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    /* .margin{
        width: 80%;
        margin-left: 10%;
    } */
    #g-vs-e > div, #f-and-b > div{
        width: 48%;
    }



/* about css */

/* end about css */


}